@model ShopCaddy.Controllers.PurchaseOrdersController.POPViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PurchaseOrder</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrder.Name)
        </dd>
     </dl>
</div>

    <table class=" table table-striped">
        <thead>
            <tr>
                <th class="col-sm-2">
                    @*Html.DisplayNameFor(model => model.Product.Image)*@
                    Image
                    </th>
                 <th class="col-sm-2">
                     @*Html.DisplayNameFor(model => model.Product.Name)*@ 
                     Product Name
                 </th>
                <th class="col-sm-2">
                    @*Html.DisplayNameFor(model => model.Product.ProductType)*@
                    Product Type
                </th>
                <th class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Product.Price)
                </th>
                <th class="col-sm-2">
                    Delete
                </th>
                </tr>
        </thead>*@
        <tbody>
            @foreach ( ShopCaddy.Controllers.PurchaseOrdersController.POPViewModel purchaseOrderProduct in Model.groupedProducts)
            {

            <tr>
                @*<th scope="row"></th>*@
                <td class="col-sm-8"><img src="@Html.DisplayFor(model => purchaseOrderProduct.Product.Image)" class="h-25 w-25" /></td>
                <td class="col-sm-8">@Html.DisplayFor(model => purchaseOrderProduct.Product.Name)</td>
                
                <td class="col-sm-8">@Html.DisplayFor(model => purchaseOrderProduct.Quantity)</td>
                <td class="col-sm-8">@Html.DisplayFor(model => purchaseOrderProduct.Price)</td>
                @*<td class="col-sm-8"><a><button class="delete-POP alert-danger" id="@purchaseOrderProduct.PurchaseOrder.Id">X</button></a></td>*@

</tr>

            }
        </tbody>
    </table>

<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>*@
</div>
@*<dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Received)
            </dt*@
            @*<dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Received)
            </dd>*@
        @*<dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.DateReceived)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.DateReceived)
            </dd>*@
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendor.Contact)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendor.PhoneNumber)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendor.Email)
        </dd>
    </dl>*@
    
