@model IEnumerable<ShopCaddy.Models.Vendor>

@{
    ViewData["Title"] = "Index";
}
<div class="row flex-flow justify-content-md-center">
<h2 style="-webkit-box-shadow: 0px 10px 13px -7px #000000, -10px 5px 19px 5px rgba(0,0,0,0.63);
box-shadow: 0px 10px 13px -7px #000000, -10px 5px 19px 5px rgba(0,0,0,0.63); border: 1px hidden #1C6EA4;
border-radius: 5px;" class="table-dark w-50 row flex-flow justify-content-md-center">Vendors</h2>
</div>
<p>
    <a asp-action="Create" style="-webkit-box-shadow: 0px 10px 13px -7px #000000, -10px 5px 19px 5px rgba(0,0,0,0.63);
box-shadow: 0px 10px 13px -7px #000000, -10px 5px 19px 5px rgba(0,0,0,0.63);" class="btn btn-danger">Create New</a>
</p>
<table style="-webkit-box-shadow: 0px 10px 13px -7px #000000, -10px 5px 19px 5px rgba(0,0,0,0.63);
box-shadow: 0px 10px 13px -7px #000000, -10px 5px 19px 5px rgba(0,0,0,0.63);" class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" style="-webkit-box-shadow: 0px 10px 13px -7px #000000, -10px 5px 19px 5px rgba(0,0,0,0.63);
box-shadow: 0px 10px 13px -7px #000000, -10px 5px 19px 5px rgba(0,0,0,0.63);" class="btn btn-danger">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id"style="-webkit-box-shadow: 0px 10px 13px -7px #000000, -10px 5px 19px 5px rgba(0,0,0,0.63);
box-shadow: 0px 10px 13px -7px #000000, -10px 5px 19px 5px rgba(0,0,0,0.63);"  class="btn btn-danger">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" style="-webkit-box-shadow: 0px 10px 13px -7px #000000, -10px 5px 19px 5px rgba(0,0,0,0.63);
box-shadow: 0px 10px 13px -7px #000000, -10px 5px 19px 5px rgba(0,0,0,0.63);" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
