@model IEnumerable<ShopCaddy.Models.Product>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create" asp-route-id="@Model." class="btn btn-danger" >Create New</a>
</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Season)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="h-25 w-25">
                <img src="@Html.DisplayFor(modelItem => item.Image)" class="img-thumbnail" alt="Photo Did not Load" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Season)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td class="w-10">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-danger">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-danger">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
   
    </tbody>
</table>
